<br />
<br />
<h2>{{ Titulo }}</h2>

<div class="formulario">
<ul>
    @for (Usuario of Usuarios(); track Usuario.UsuarioId) {
    <li>
      <p>{{ Usuario.UsuarioId }}</p>
      <form (ngSubmit)="modificarUsuario(Usuario.UsuarioId, usuarioForm)" #usuarioForm="ngForm">
        <input type="text" [(ngModel)]="Usuario.Nombre" name="Nombre" required />
        <input type="text" [(ngModel)]="Usuario.PrimerApellido" name="PrimerApellido" required />
        <input type="text" [(ngModel)]="Usuario.SegundoApellido" name="SegundoApellido" required />
        <select [(ngModel)]="Usuario.TipoDeUsuario" name="TipoDeUsuario" required id="cmbTipoUsuario">
          <option value="Doctor">Doctor</option>
          <option value="Recepcionista">Recepcionista</option>
          <option value="Paciente">Paciente</option>
        </select>     
        <button id="btnModificar" type="submit">Modificar Usuario</button>  
    </form>
      <button id="btnBorrar" (click)="borrarUsuario(Usuario.UsuarioId)">
        Borrar Usuario</button>
    </li>
    } @empty {
      <li>Nada que mostrar.</li>
    }
    <li>
      <form (ngSubmit)="agregarUsuario()" #nuevoUsuarioForm="ngForm">
        <input 
          id="usuarioId" 
          placeholder="Identificación" 
          [(ngModel)]="nuevoUsuario.UsuarioId" 
          name="UsuarioId" 
          required 
        />
        <input 
          id="nombre" 
          placeholder="Nombre" 
          [(ngModel)]="nuevoUsuario.Nombre" 
          name="Nombre" 
          required 
        />
        <input 
          id="primerApellido" 
          placeholder="Primer Apellido" 
          [(ngModel)]="nuevoUsuario.PrimerApellido" 
          name="PrimerApellido" 
          required 
        />
        <input 
          id="segundoApellido" 
          placeholder="Segundo Apellido" 
          [(ngModel)]="nuevoUsuario.SegundoApellido" 
          name="SegundoApellido" 
          required 
        />
        <input 
          id="contrasena" 
          type="password"
          placeholder="Contraseña" 
          [(ngModel)]="nuevoUsuario.Contrasena" 
          name="SegundoApellido" 
          required 
        />
        <select 
          [(ngModel)]="nuevoUsuario.TipoDeUsuario" 
          name="TipoDeUsuario" 
          required 
        >
          <option value="" disabled selected>Seleccione Tipo de Usuario</option>
          <option value="Doctor">Doctor</option>
          <option value="Recepcionista">Recepcionista</option>
          <option value="Paciente">Paciente</option>
        </select>
        <button id="btnAgregar" type="submit">Agregar Usuario</button>
      </form>
    </li>
    
</ul>
</div>


<!-- <pre>
    <code>
        {{ Usuarios() | json }} 
    </code>
</pre> -->